body {
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
}

.social-links a {
  display: block;
  margin: 16px auto;
  text-align: center;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 13px 0 13px 0;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
  transition: all 150ms ease-in-out;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 25px;
}

h5 {
  margin: 0;
  color: hsl(75, 94%, 57%);
}

p {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  padding: 15px 0;
  font-weight: lighter;
}

img {
  border-radius: 50%;
  max-width: 90px;
}

.container {
  border-radius: 15px;
  margin: 100px auto;
  text-align: center;
  max-width: 310px;
  background-color: hsl(0, 0%, 12%);
  padding: 35px 33px 30px 33px;
}

.footer {
  text-align: center;
  font-size: 14px;
  color: #8a77e1;
  margin: 0 auto;
  opacity: 0.7;
}

.footer a {
  color: #8a77e1;
  text-decoration: none;
}
